<?xml version="1.0" encoding="UTF-8" ?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
         http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">
    <servlet>
        <servlet-name>ListServlet</servlet-name>
        <servlet-class>ru.job4j.todolist.servlet.ListServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListServlet</servlet-name>
        <url-pattern>/todo/items</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddTaskServlet</servlet-name>
        <servlet-class>ru.job4j.todolist.servlet.AddTaskServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddTaskServlet</servlet-name>
        <url-pattern>/todo/add</url-pattern>
    </servlet-mapping>
</web-app>